.main-card {
  background-color: rgb(237 237 237 / 49%);
  padding: 20px 10px;
  border-radius: 20px;
  max-width: 400px;
  margin: 10px auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.322);
  position: relative;
}
@media screen and (max-width: 1024px) {
  .main-card {
    max-width: 330px;
  }
}
.main-card:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.322);
}
.top-card .main-card {
  max-width: 200px;
  padding: 5px;
}
.top-card .btn {
  background-color: var(--main-color);
  color: #fff;
  font-size: 13px;
  padding: 5px 10px;
}
.main-card p {
  margin: 5px 0;
}
.fancy-btn {
  color: #fff;
  background-color: var(--main-color);
  padding: 10px 20px;
  border: none;
  border-radius: 0px 20px;
}
@media screen and (max-width: 370px) {
  .fancy-btn.long-text {
    padding: 8px 8px;
  }
}

/* ........................................................................................ */
@media screen and (max-width: 768px) {
  .main-card {
    max-width: 280px;
  }
}
@media screen and (max-width: 425px) {
  .main-card {
    max-width: 280px;
  }
}

/* ------------------------------------------------------------------------------------------------- */

.main-card p {
  margin: 5px 0;
}
.fancy-btn {
  color: #fff;
  background-color: var(--main-color);
  padding: 10px 20px;
  border: none;
  border-radius: 0px 20px;
}
@media screen and (max-width: 370px) {
  .fancy-btn.long-text {
    padding: 8px 8px;
  }
}

@media screen and (max-width: 576px) {
  .top-card {
    overflow: hidden;
    height: 50px;
    background-color: rgb(237 237 237 / 49%);
    padding: 3px 10px;
    border-radius: 5px;
    margin: 10px auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.322);
    position: relative;
    cursor: pointer;
  }
  .top-card .card-name {
    margin: 10px 0px;
    display: block;
  }
  .top-card::after {
    content: "open";
    position: absolute;
    right: 5px;
    top: 10px;
  }
}

/* ..................................................................................................................... */

footer {
  font-size: 10px;
}
@media screen and (max-width: 768px) {
  .main-card {
    max-width: 280px;
  }
}
@media screen and (max-width: 425px) {
  .main-card {
    max-width: 280px;
  }
  .chat-row .chat-div {
    height: 300px;
  }
}
.full-main-card {
  max-width: 1000px;
  margin: 15px auto;
}
* {
  /* border: solid 1px; */
}
