.form-div.dashboard-form {
  height: auto;
  width: 100%;
  background-color: transparent;
  padding: 0;
  /* border: solid; */
  margin: 0 auto;
}
.form-div.dashboard-form .input-div.category-div {
  /* border: solid red; */
  padding: 0 5px;
  justify-content: space-evenly;
}
@media screen and (max-width: 408px) {
  .form-div.dashboard-form {
    width: auto;
    position: static;
    z-index: 1;
  }
  .form-div.dashboard-form .input-div,
  .form-div.dashboard-form .textarea-div {
    /* border: solid 1px; */
    /* margin: 0; */
    /* width: 233px; */
    display: flex;
  }
  .form-div.dashboard-form .input-div input,
  .form-div.dashboard-form .textarea-div textarea {
    border: none;
    padding: 10px;
    /* border: none; */
    /* border: solid 1px rgb(255 0 0); */
    width: 100%;
    max-width: 200px;
  }
}
@media screen and (max-width: 320px) {
  .form-div.dashboard-form {
    width: auto;
    position: static;
    z-index: 1;
  }
  .form-div.dashboard-form .input-div,
  .form-div.dashboard-form .textarea-div {
    /* border: solid 1px; */
    /* margin: 0; */
    /* width: 230px; */
    display: flex;
  }
  .form-div.dashboard-form .input-div input,
  .form-div.dashboard-form .textarea-div textarea {
    border: none;
    padding: 10px;
    /* border: none; */
    /* border: solid 1px rgb(255 0 0); */
    width: 100%;
    /* max-width: 170px; */
  }
  .form-div.dashboard-form .input-div.category-div {
    font-size: 14px;
  }
}
/*  */
.history-list {
  height: 250px;
  overflow-y: scroll;
}
.history-list .count {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  padding-top: 11px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}
.history-list .count.Income {
  background-color: rgb(24, 111, 196);
}
.history-list .count.Budget {
  background-color: rgb(94, 171, 232);
}
.history-list .count.Expenses {
  background-color: rgb(230, 104, 0);
}
.badge-count {
  background-color: var(--main-color);
  padding: 2px 10px;
  font-weight: 900;
  color: #fff;
  border-radius: 5px;
}
.note-message {
  font-size: 12px;
}
.history-list .record {
  height: 50px;
  width: 100%;
  margin: 10px 0;
  padding-left: 10px;
  overflow: hidden;
  cursor: pointer;
  border-bottom: var(--main-color) solid 1px;
}

.finance-form .checkmark {
  background-color: rgba(255, 255, 255, 0.871);
}
.finance-form .checkmark.disable {
  background-color: rgb(165 165 165);
}
