:root {
  --main-color: rgb(0, 167, 204);
  --main-fade: rgb(0, 167, 204, 0.5);
  --primary-color: rgb(53, 53, 53);
  --notification-indicator-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  border-style: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
